{% extends "base.html"%} 

{% block content %}


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      </div>
      <section class="first-section">
      <h1 class="header center orange-text" style="font-weight: 600;">The Recipe´ Catalogue</h1>
      <div class="row center">
  {% if session.username == session.None %}
     <h5 class="header col s12 light" style="font-eight: 200; font-size: 100%; color: #fff;"><a href="{{url_for('login_page')}}"><span class="login-text">Log in here</span></a> to gain full access. Participation is free!</h5>
    {% else %}
    <h4 style="font-eight: 200; font-size: 100%; color: #fff;">You can now add, edit and delete your recipies!</h4>
    {% endif%}
      </div>
      <div class="row center">
        <a href="{{ url_for("add_recipe") }}" id="download-button" class="waves-effect waves-light"><i class="material-icons add_recipe waves-effect waves-light">add_box</i></a>
      </div>
     <br><br>
    </div>
   </div>
  <br>
   {% with messages = get_flashed_messages(with_categories=true) %} 
        {% for category, message in messages %}
            {% if category == 'error' %}
             <div class="messages alert center alert-danger" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div class="messages alert center alert-success" role="alert">
             {{ message }}
            </div>
           {% endif %} 
         {% endfor %}
        {% endwith %}
</section> 
<div class="pagination center">
    <p>{{ pagination.info }}</p>
    <p >{{ pagination.links }}</p>
</div> 
<div class="container">
    <div class="section">
<!----- Card Section  ----->
      <div class="row">
    {% for recipe in recipes %}
        <div class="col s12 m4">
            <div class="card card-box hoverable">
             <div class="card-image front-card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{recipe.photo_url}}">
                </div>
                <a href="{{ url_for('likes', recipe_id=recipe._id) }}" class="floating right"><i class="material-icons likes">favorite</i></a><span class="right">{{recipe.likes}}</span>
             <div class="card-content">
             <p><strong>Author:  </strong><em>{{ recipe.recipe_author }}</em></p>
             <p><strong>Recipe Name:  </strong> <em>{{ recipe.recipe_name }}</em></p>
             <p><strong>Originated:  </strong> <em>{{ recipe.country_of_origin }}</em></p>
             </div>
          {% if session.username == session.None %}
           <a href="{{url_for('edit_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn-small blue lighten-2 edit-button" disabled >Edit</a>
          <a  href="{{url_for('delete_recipe',recipe_id=recipe._id)}}" class="btn-floating waves-effect waves-light right lighten-2  disabled delete-button"><i class="material-icons delete ">delete</i></a>
           
    {% else %}
    <a href="{{url_for('edit_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light btn-small  edit-button" style="background-color: #009688;">Edit</a>
          <a href="{{url_for('delete_recipe',recipe_id=recipe._id)}}" class="waves-effect waves-light right lighten-2 delete-button"><i class="material-icons delete">delete</i></a>
           
      {% endif%}
         
        <div class="card-reveal">
      <span class="card-title grey-text text-darken-4 ingredient-text"><i class="material-icons right close">close</i></span>
      <p>{{recipe.recipe_ingredients}}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>
</div>
<!-----pagination-------->   
<div class="pagination center">
    {{ pagination.links }}
  </div>
     <br><br>
        </div>
{% endblock %}

